<h2>Book A Club</h2>

<div>
    <select [ngFormControl]="clubSelect">
        <option value="all">All</option>
        <option *ngFor="let location of locations" value={{location}}>{{location}}</option>
    </select>

    <div class="selections">
        <ul>
            <li *ngFor="let club of clubs" (click)="clicked(club.id)">
                <img src="./assets/{{club.clubName}}.jpg" width="160"/>
                <span>{{club.clubName}}</span>
            </li>
        </ul>
    </div>
</div>
